################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1/v16
/ConsoleApplication1/Release
/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1.sln
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1/Release
/ConsoleApplication1/ConsoleApplication1
